// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

body {
    background-size:cover;
}

.imageCycle1{
  background:url(/assets/images/background/pexels-eberhard-grossgasteiger-572897.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/images/background/pexels-eberhard-grossgasteiger-572897.jpg',sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/images/background/pexels-eberhard-grossgasteiger-572897.jpg',sizingMethod='scale')";
}

.imageCycle2{
  background:url(/assets/images/background/pexels-simon-matzinger-1323550.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/images/background/pexels-simon-matzinger-1323550.jpg',sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/images/background/pexels-simon-matzinger-1323550.jpg',sizingMethod='scale')";
}

.imageCycle3{
  background:url(/assets/images/background/pexels-simon-migaj-747964.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/images/background/pexels-simon-migaj-747964.jpg',sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/images/background/pexels-simon-migaj-747964.jpg',sizingMethod='scale')";
}

.imageCycle4{
  background:url(/assets/images/background/pexels-stephan-seeber-1428787.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/images/background/pexels-stephan-seeber-1428787.jpg',sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/images/background/pexels-stephan-seeber-1428787.jpg',sizingMethod='scale')";
}

.imageCycle5{
  background:url(/assets/images/background/pexels-tyler-lastovich-808465.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/images/background/pexels-tyler-lastovich-808465.jpg',sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/images/background/pexels-tyler-lastovich-808465.jpg',sizingMethod='scale')";
}